@use "../../../sass/mixins" as *;

.footer {
  background-image: url(/images/bg/pattern-stressed-linen.png);
  border-top: 1px solid black;
  border-top-width: rem-convert(10px);
  color: white;
  flex-shrink: 0;
  padding: rem-convert(16px) 0 rem-convert(64px);
  position: relative;

  @include breakpoint("desktop") {
    padding: rem-convert(48px) 0 rem-convert(64px);
  }

  p {
    font-size: rem-convert(14px);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: rem-convert(24px);

    a {
      text-decoration: underline;
      transition: color 0.35s ease;

      &:hover,
      &:focus {
        color: var(--color-highlight);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
