@use "../../../sass/mixins" as *;

.card {
  display: block;
  background: none;
  border: 0 solid transparent;
  color: black;
  display: block;
  flex: 0 0 auto;
  height: 0;
  padding-top: 139.39393939%;
  position: relative;
  transition: none;
  width: 100%;
  z-index: 701;

  :global(.isLeft) & {
    transform-origin: center left;
  }

  :global(.isRight) & {
    transform-origin: 100% 50%;
  }

  :global(.isLeft) & {
    transform-origin: 0 50%;
  }

  :global(.isTop) & {
    transform-origin: 50% 0;
  }

  :global(.isTop.isLeft) & {
    transform-origin: 0 0;
  }

  :global(.isTop.isRight) & {
    transform-origin: 100% 0;
  }

  &:focus,
  &:hover {
    transition: transform 0.35s ease;
    transform: scale(1.8);
    z-index: 911;
  }

  > p {
    color: transparent;
    font-size: rem-convert(12px);
    font-weight: 700;
    left: 8%;
    position: absolute;
    pointer-events: none;
    top: 5%;
    z-index: 999;
  }

  > div {
    background: transparent url("/images/card-back.jpg") no-repeat center center;
    background-size: contain;
    border-radius: 7%/4%;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0s ease;
    width: 100%;

    > div {
      background: transparent url("/images/card-back.jpg") no-repeat center center;
      background-size: contain;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      text-align: center;
      text-indent: -999em;
      top: 0;
      width: 100%;

      &:global(.flipFace) {
        opacity: 0;
        transition: opacity 0.35s ease;

        &:global(.isFlipped) {
          opacity: 1;
        }
      }

      > img {
        display: inline;
      }
    }

    > button {
      appearance: none;
      background: none;
      border: 0 solid transparent;
      color: black;
      cursor: pointer;
      display: block;
      position: absolute;

      &:global(.flipButton) {
        position: absolute;
        right: 12%;
        top: 40%;
        width: 15%;

        & :global(.icon) {
          border: rem-convert(1px) rgba(0, 0, 0, 0.35) solid;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.6);
          color: black;
          display: block;
          font-weight: 700;
          height: 0;
          line-height: 1;
          padding-top: 100%;
          position: relative;
          transition: background 0.35s ease;
          width: 100%;

          &:focus,
          &:hover {
            background: white;
          }

          > span {
            align-items: center;
            display: flex;
            font-size: rem-convert(10px);
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            @include breakpoint("tablet") {
              font-size: rem-convert(12px);
            }

            @include breakpoint("desktop") {
              font-size: rem-convert(14px);
            }
          }
        }
      }

      &:global(.expandButton) {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }

  &:global(.isStack) {
    padding-top: 16%;

    > div {
      border-radius: 7%/4%;
      height: 880%;
    }

    &:focus,
    &:hover {
      transform: none;
    }
  }

  /*&.op--expand {
      .card__face {
        display: block;
        left: 50%;
        height: rem-convert((size("card-md-w") * 1.39393939));
        margin-left: rem-convert(-(size("card-md-w") / 2));
        margin-top: rem-convert(-((size("card-md-w") * 1.39393939)/2));
        padding-top: 0;
        position: fixed;
        top: 50%;
        width: rem-convert(size("card-md-w"));
        z-index: 901;

        @include breakpoint("tablet") {
          height: rem-convert((size("card-lg-w") * 1.39393939));
          margin-left: rem-convert(-(size("card-lg-w") / 2));
          margin-top: rem-convert(-((size("card-lg-w") * 1.39393939)/2));
          width: rem-convert(size("card-lg-w"));
        }

        @include breakpoint("desktop") {
          height: rem-convert((size("card-xl-w") * 1.39393939));
          margin-left: rem-convert(-(size("card-xl-w") / 2));
          margin-top: rem-convert(-((size("card-xl-w") * 1.39393939)/2));
          width: rem-convert(size("card-xl-w"));
        }

        .guide--performancevisible & {
          margin-left: rem-convert(-(size("card-md-w") + 8px));

          @include breakpoint("tablet") {
            margin-left: rem-convert(-(size("card-lg-w") + 16px));
          }

          @include breakpoint("desktop") {
            margin-left: rem-convert(-(size("card-xl-w") + 16px));
          }
        }

        .card__image {
          height: 100% !important;
          left: 0 !important;
          overflow: visible !important;
          top: 0 !important;
          transform: none !important;
          transition: none !important;
          width: 100% !important;
        }

        .card__flipbutton {
          font-size: rem-convert(28px);
          height: rem-convert(48px);
          width: rem-convert(48px);
        }

        .card__performance {
          display: none;
        }

        .guide--performancevisible & {
          .card__performancefull {
            background: rgba(color("black"): rem-convert(0.95);
            border-radius: rem-convert(8px);
            color: color("white");
            display: block;
            left: 100%;
            left: calc(100% + 16px);
            left: calc(100% + 1rem);
            padding: rem-convert((12px 16px));
            position: absolute;
            top: 0;
            width: rem-convert(size("card-md-w"));
            z-index: 902;

            @include breakpoint("tablet") {
              left: calc(100% + 32px);
              left: calc(100% + 2rem);
              width: rem-convert(size("card-lg-w"));
            }

            @include breakpoint("desktop") {
              border-radius: rem-convert(16px);
              padding: rem-convert((16px 24px));
              width: rem-convert(size("card-xl-w"));
            }

            .card__performancefull__title {
              font-size: rem-convert(24px);
              font-weight: 700;
              margin-bottom: rem-convert(4px);

              @include breakpoint("desktop") {
                font-size: rem-convert(56px);
                margin-bottom: rem-convert(8px);
              }
            }

            .card__performancefull__gihall {
              margin-bottom: rem-convert(4px);

              @include breakpoint("desktop") {
                margin-bottom: rem-convert(8px);
              }

              .card__performancefull__gihall__gihwr {
                font-size: rem-convert(20px);
                font-weight: 700;

                @include breakpoint("desktop") {
                  font-size: rem-convert(48px);
                }
              }

              .card__performancefull__gihall__gih {
                font-size: rem-convert(16px);

                @include breakpoint("desktop") {
                  font-size: rem-convert(32px);
                }
              }
            }

            .card__performancefull__alsa {
              font-size: rem-convert(18px);
              margin-bottom: rem-convert(16px);

              @include breakpoint("desktop") {
                font-size: rem-convert(36px);
                margin-bottom: rem-convert(32px);
              }
            }

            .card__performancefull__colorpairs {
              .card__performancefull__colorpairs__colorpair {
                margin-bottom: rem-convert(4px);

                @include breakpoint("desktop") {
                  margin-bottom: rem-convert(8px);
                }

                .card__performancefull__colorpairs__colorpair__icon {
                  font-size: rem-convert(16px);
                  padding-right: rem-convert(6px);

                  @include breakpoint("desktop") {
                    font-size: rem-convert(32px);
                    padding-right: rem-convert(12px);
                  }
                }

                .card__performancefull__colorpairs__colorpair__gihwr {
                  font-size: rem-convert(16px);
                  font-weight: 700;

                  @include breakpoint("desktop") {
                    font-size: rem-convert(32px);
                  }
                }

                .card__performancefull__colorpairs__colorpair__gih {
                  font-size: rem-convert(14px);

                  @include breakpoint("desktop") {
                    font-size: rem-convert(24px);
                  }
                }
              }
            }
          }
        }
      }
    }*/
}
